[Desktop Entry]
Name=Greaseweazle-GUI
GenericName=for linux
Comment=Native Linux interface for Greaseweazle disk operations
Exec=greaseweazle-gui
Icon=drive-removable-media
Terminal=false
Type=Application
Categories=Utility;
Keywords=floppy;disk;image;Greaseweazle;
StartupNotify=true
